.appShell{
  display:flex;
  min-height: 100vh;
}
.appMain{
  flex: 1;
  display:flex;
  flex-direction:column;
  min-width: 0;
}
.appContent{
  padding: 16px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 84px;
}
@media (min-width: 900px){
  .appContent{ padding: 24px; padding-bottom: 24px; }
}
